<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dell.wx"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".AnimActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Second"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout"
            android:launchMode="singleInstance" />

        <receiver
            android:name=".NetworkReceiver"
            android:enabled="true"
            android:exported="true" />
        <receiver
            android:name=".MyBootBroadcastRecevier"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".notification"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout"
            android:launchMode="standard" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.cameraalbumtest.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".webactivity"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout"
            android:launchMode="singleInstance" />

        <service
            android:name=".DownloadService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".CardView"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout"
            android:launchMode="singleInstance" />
        <activity
            android:name=".detail_item_activity"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout"
            android:label="@string/title_activity_detail_item_activity"
            android:launchMode="singleInstance"
            android:theme="@style/detail_item_theme" />

        <service
            android:name=".AlarmService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".MainActivity" />
        <activity android:name=".VolleyActivity" />
        <activity android:name=".RetrofitActivity" />
        <activity android:name=".LitepalActivity" />

        <service

            android:name=".MyService"
            android:enabled="true"
            android:exported="true"
            >
            <intent-filter>
                <action android:name="android.intent.action.RESPOND_VIA_MESSAGE"/>
            </intent-filter>
        </service>
    </application>

</manifest>